:root {
  --light: #EEEEEE;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  /* Fonts */
  color: var(--light);
  font-family: "Open Sans", sans-serif;

  /* Background */
  background-image: url(assets/background/circle-scatter-haikei.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  & ul { list-style: none; }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-height: 35rem;
  width: 30rem;
  background-color: rgba(255, 255, 255, .2);
  padding: 1rem;
  border: 2px solid var(--light);
  border-radius: 1rem;
  overflow: hidden;
}

.title h2 {
  font-size: 2rem;
  text-shadow: 5px 5px solid rgba(0, 0, 0, .6);
}

.userInput {
  height: 3rem;
  width: 100%;
  margin: 1.5rem 0;
  padding: 1rem 2rem 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userInput input {
  width: 85%;
  height: 2rem;
  font-size: 1.1rem;
  border: none;
  border-bottom: 1px solid var(--light);
  outline: none;
  padding: .5rem 1rem .5rem .2rem;
  background-color: transparent;
  color: var(--light);
}

.userInput #addTaskBtn {
  height: 1.8rem;
  width: 1.8rem;
}

#taskList {
  max-height: 25rem;
  width: 100%;
  padding: 1rem 0;
  overflow-y: auto;
}

#taskList::-webkit-scrollbar { display: none; }

.task-cont,
.tasks {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.task-cont {
  gap: 1rem;
}

.task-desc {
  font-size: 1.125rem;
}

.tasks {
  justify-content: space-between;
  padding-right: 2rem;
  margin-bottom: 1rem;
}

.checked span{
  text-decoration: line-through;
}

/* checkmark */
/* checkbox settings 👇 */

.ui-checkbox {
  --primary-color: #1677ff;
  --secondary-color: #fff;
  --primary-hover-color: #4096ff;
  /* checkbox */
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;
}

.ui-checkbox, 
.ui-checkbox *, 
.ui-checkbox *::before, 
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
  border-color: var(--primary-color);
}

.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}

.ui-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}